.landing-page-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
    width: 100%;
    background-color: #000;
}

.landing-page-wrapper .spacer.small{
    flex: 1;
}

.landing-page-wrapper .spacer.large{
    flex: 1.618;
}

.landing-page-main-wrapper {
    z-index: 1;
   
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.landing-page-main-text-overlay {
    z-index: 1;
    text-align: center;
    width: 75%;
    height: 30%;
 
}

.landing-page-main-text-overlay-upper {
    z-index: 1;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "HelloWorld Name"
        "MyNameIs Name";
    grid-gap: 0;
    row-gap: 0;
    column-gap: 0;
    margin-right: 25%;
}

.landing-page-main-text-overlay-lower {
    z-index: 1;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    grid-gap: 0;
    row-gap: 0;
    column-gap: 0;
    margin-left: 25%;
}

.main-text-small {
    color: white;
}

.main-text-big {
    color: white;
    font-size: 4vw;
} 

.computer-text {
    color: lightgreen;
    font-size: 90%;
}

#IAmA {
    align-self: end;
    justify-self: end;
    padding: 0;
    margin: 0;
}

#MyNameIs {
    grid-area: MyNameIs;
    align-self: start;
    justify-self: end;
    margin: 0;
    padding: 0;
}

#Title {
    margin: 0;
    padding: 0;
    align-self: end;
    justify-self: start;
    font-size: 4vw;
}

#HelloWorld {
    grid-area: HelloWorld;
    margin: 0;
    padding: 0;
    align-self: end;
    justify-self: end;
    font-family: 'Courier New', Courier, monospace;
}

#Name {
    grid-area: Name;
    justify-self: start;
    align-self: center;
    font-size: 5vw;
    padding: 0;
    margin: 0;
}


.projects-page-button {
    flex: 1;
    width: 32%;
    background-color: transparent;
    border: 2px solid transparent;
    color: transparent;
    font-size: 200%;
    font-family: 'Courier New', Courier, monospace;
    animation: button-spawn-main 1.5s forwards;
  
    overflow: hidden;
    width: 0%;
    height: 0%;
    white-space: nowrap;
    transition: width 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.projects-page-button:hover{
    background-color: lightgreen;
    color: black;
    width: 50%;
    height: 32%;
    animation: none;
    
}

.projects-page-button-clicked {
    flex: 1;
    animation: button-despawn-main forwards 1.5s;
    background-color: lightgreen;
    color: black;
    width: 50%;
    height: 32%;
    background-color: transparent;
    border: 2px solid transparent;
    color: none;
    overflow: hidden;
    white-space: nowrap;
    font-family: 'Courier New', Courier, monospace;
    font-size: 200%;
    
    
}


@keyframes button-spawn-main {
    0% {
        width: 0%;
        height: 0%;
        border-left-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-top-color: transparent;
        color: lightgreen;
    }

    50%{
        width: 50%;
        height: 0%;
        color: lightgreen;
        border-left-color: transparent;
        border-right-color: transparent;
        border-bottom-color: lightgreen;
        border-top-color: lightgreen;
    }

    100%{
        width: 50%;
        height:32%;
        border-left-color: lightgreen;
        border-right-color: lightgreen;
        border-bottom-color: lightgreen;
        border-top-color: lightgreen;
        color: lightgreen;

        
        
    }
}


@keyframes button-despawn-main {
    0% {
        width: 50%;
        height:32%;
        border-left-color: lightgreen;
        border-right-color: lightgreen;
        border-bottom-color: lightgreen;
        border-top-color: lightgreen;
        color: lightgreen;
    }

    50%{
        width: 50%;
        height: 0%;
        color: lightgreen;
        border-left-color: transparent;
        border-right-color: transparent;
        border-bottom-color: lightgreen;
        border-top-color: lightgreen;
    }

    100%{


        width: 0%;
        height: 0%;
        border-left-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-top-color: transparent;
        color: transparent;
        
    }
}

/* Media Queries */
@media (max-width: 750px) {

    .landing-page-main-text-overlay {
        z-index: 1;
        text-align: center;
        justify-content: center;
        width: 100%;
        height: 30%;
        margin: 5% 0;
    }

    .landing-page-main-text-overlay-upper{
        margin-left: 0%;
        margin-right: 0;
        align-self: center;
        justify-self: center;
        grid-template-columns: 125px 1fr;
        
    }

    .landing-page-main-text-overlay-upper{
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 5%;
    }

    .landing-page-main-text-overlay-lower{
        margin-left: 5%;
        margin-top: 5%;
    }


    #Name, #Title {
        font-size: 40px; /* Adjust to the size you want for mobile */
        
    }

    #Title{
        font-size: 30px;
    }
    
    #HelloWorld{
        
        white-space: nowrap;
    }

    .projects-page-button{
        font-size: 20px;
        overflow: default;
    }
}


