.particleSimulation {
    background: url('../../images/colorful-space-some-stars.jpg')  no-repeat center center fixed; 
    background-size: cover;
    
   
    width: 100%;
    height: 100%;
   
    
   
   
    

}


.particleSimulationWrapper {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}