.navbar{
    z-index: 2;
    background-color: transparent;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
    width: 100%;
    height: 100%;
    
  
    
}

.navbar.navbar-mobile{
    width: 100%;
    height: 100%;
  
    
}

.navbar-expanded{
    z-index: 2;
    width: 100%;
    height: 100%;
    color: white;
}




.navbar-item{
    margin: 5%;
    padding: 5%;
  
    background-color: transparent;
    border-radius: 0%;
    border-style: solid;
    border-color: lightgreen;
    color: white;
    justify-self: center;
    align-self: center;
    box-sizing: border-box;
    overflow: hidden;
    transition: border-radius 0.2s , background-color 0.3s;

}

.navbar-item:hover{
    border-radius: 15%;
}

.navbar-item.selected{
    border-radius: 15%;
    background-color: lightgreen;
    color: black;
    border-width: 0;

}


.navbar-menu-expandable {
    flex: 0.3;
  
    border: none;
    z-index: 3;

    width: 75px;
    height: 75px;

   
}

.navbar-menu-expandable img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;

    margin: 0;
    border: none;
    padding: 1%;
    box-sizing: border-box;
   
    
    
}

.navbar-expanded{
    background-color: red;
    position: absolute;
    width: 100vw;
    height: 100vh;
    transition: 0.3s;
    z-index: 2;

    overflow: hidden;
    
}

.navbar-expanded.entering{
    top: -100%;
}

.navbar-expanded.entered{
    top:0%;
}

.navbar-expanded.exiting{
    top:100%;
}

.navbar-expanded.exited{
    display: none;
}

.navbar-expanded-background{
    
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 2;
    transition: 0.3s;
    background-color: red;
    filter: blur(0px);

    background: url('../images/colorful-space-some-stars.jpg') no-repeat center center fixed; 
    background-size: cover;
    
}

.navbar-expanded-background img{
    z-index: 1;
    transform: scale(0.8);
    width: 100%;
    height: 100%;
    

  
}


.navbar-expanded.entering .navbar-expanded-background{
    top: 100%;
}

.navbar-expanded.entered .navbar-expanded-background{
    top: 0%;
}

.navbar-expanded.exiting .navbar-expanded-background{
    top: -100%;
}

.navbar-expanded-options{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    z-index: 4;
    
    left: 0%;

    display: flex;

}


.navbar-expanded-option-menu{

    position: absolute;
    flex: 1;
    
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.navbar-expanded-option{
    flex:1;
 
    
    font-weight: bold;
    cursor: pointer;
    padding: 0;
    margin: 0;

    height: min-content;

    z-index: 5;
   
}

.navbar-expanded-option h2{
   
    position:relative;
    padding: 0;
    margin: 0;
    
   

    font-size: 250%;
    height: min-content;
   
    transition: 0.3s ease-in-out;

    
  


}

.navbar-expanded-option.left h2{
    left: -30%;
}

.navbar-expanded-option.right h2{
    left: 30%;
}

.navbar-expanded-option h2:hover{
    
    color: black;
    left: 0%;

}

.navbar-expanded-option.selected h2{
}

.navbar-expanded-option h2:hover::after{
    
    position: absolute;
    content : '';
    width:100%;
    height:100%;
    
    z-index: 5;
    left: 0%;

    border-bottom: 4px solid black;

    animation: borderAnimation 0.5s forwards;
}




@keyframes borderAnimation {

    0%{
        width: 0%;
    }

    100%{
        width: 100%;
    }
}


