.contact-page {
    z-index: 1;
    text-align: center;
    width: 75%;
    height: 30%;
    color: white;
    font-size: 100px;
}


.contact-page-wrapper-fullscreen {
    display: grid;
    width: 100%;
    height: 100%; /* This assumes you want it to take up the full viewport height */
    grid-template-columns: 1.618fr 1fr;
    z-index: 1;
}

.contact-page-wrapper-mobile {
    display: flex;
    width: 100%;
    height: 100%; /* This assumes you want it to take up the full viewport height */

    z-index: 1;
    color: white;
  

    flex-direction: column;
}

.contact-page-wrapper-mobile h1 {
    flex: 0.32;
}

.contact-page-wrapper-mobile p{
    flex:1;
    margin: 0;
    padding: 0 2%;
}

.contact-page-wrapper-mobile .contact-info  {
    display: flex;
    flex-direction: column;
    flex: 0.5;
    height: 15%;
    position: relative;
    padding: 5% 5%;
    
    gap: 0;
    font-size: 13px;
}

.contact-page-wrapper-mobile .contact-info ul{
    display: flex;
    gap: 5%;
    margin: 0;
    padding: 0;
}


.contact-page-wrapper-mobile .contact-info-item{
    flex: 1;
}


.contact-page-wrapper-mobile .contact-form-wrapper{
    flex: 1.618;
    display: flex;
}

.contact-page-wrapper-mobile .contact-form{
    flex: 1;
}



.contact-page-left-section {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;

    color: white;
    padding:  0 5%;
}


.contact-page-left-section .spacer-small{
    flex-grow: 1;
}

.contact-page-left-section .spacer-large{
    flex-grow: 1.618;
}

.contact-form-wrapper{
    
    flex: calc(1.618 * 3);
    
   

}

.contact-page-right-section {
    display: flex;
    flex-direction: column;
    align-items: center; /* This centers the contact info vertically */
    justify-content: center; /* And this centers it horizontally */
    background-color: transparent;
    color: white;
}

.contact-info {
    /* Add your styling for contact info section here */
    padding: 1rem;
    display: flex;
}


.contact-page-right-section .spacer-small{
    flex-grow: 1;
}

.contact-page-right-section .spacer-large{
    flex-grow: 1.618;
}


.contact-form {

   
    display: flex;
    flex-direction: column;
    gap: 20px; /* adjust this value as needed for spacing between rows */
    margin: 0;
    padding: 0;
    width: 100%;
    height:100%;
}

.name-wrapper, .personal-info-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 10px; /* adjust this value for spacing between first name/last name and email/phone inputs */
}

.first-name-form, .last-name-form, .email-form, .phone-number-form {
    flex: 1; /* equally divide space */
    padding: 10px; /* adjust for desired internal padding */
    border: 2px solid lightgreen; /* style border as needed */
    border-radius: 4px; /* optional for rounded corners */
    
    color: white;
    background-color: transparent;

}

.message-form::placeholder, .first-name-form::placeholder, .last-name-form::placeholder, .phone-number-form::placeholder, .email-form::placeholder{
    color:rgba(144,238,144,0.75)
}

.message-form {
    padding: 10px; /* adjust for desired internal padding */
    border: 2px solid lightgreen; /* style border as needed */
    border-radius: 4px; /* optional for rounded corners */
    height: 120px; /* adjust as needed for desired textarea height */
    color: white;
    resize: vertical; /* allows vertical resizing */
    flex: 1;
    background-color: transparent;
    
}




.submit-button {
    border: none;
    flex: 0.5;
    width: 50%;
    align-self: center;
    justify-self: center;
    border-radius: 3%;
    background-color: transparent;
    color: white;
    border : 2px solid white;
    transition: 0.3s ease-in-out;
}

.submit-button:hover{
    background-color: white;
    color: black;
}


.contact-info ul {
    list-style: none; /* Reset default list styles */
    padding-left: 0;  /* Remove default padding */
}

.contact-info-item {
    display: flex;         /* Make it a flex container */
    align-items: center;   /* Vertically center children */
    justify-content: start; /* Horizontally center the content */
    margin-bottom: 1rem;   /* Space between each item */
}

.contact-info-item img {
    margin-right: 1rem;  /* Space between icon and text */
    width: 20px;           /* Assign a fixed width */
    height: 20px;          /* Assign a fixed height */
    flex: 0 0 auto;   
    display: inline;     /* This prevents the image from shrinking or growing */
}









