.about-page-wrapper-fullscreen {
    display: grid;
    width: 100%;
    height: 100%; /* Taking up the full viewport height */
    grid-template-columns: 1fr 1.618fr; /* This time the right column is wider */
    z-index: 1;

}

.about-page-left-section {
    display: flex;
    flex-direction: column;
 
    
    
    background-color: #f0f0f0; /* Placeholder color */
}

.spacer {
    flex-grow: 1;  /* This will take up 1 part of the available space */
}

.spacer.large {
    flex-grow: 1.618;  /* This will take up 1.618 parts of the available space */
}

.about-page-right-section {
    display: flex;
    align-items: center; /* Centers the skill carousel vertically */
    justify-content: center; /* And this centers it horizontally */
     /* Placeholder color */
}

.bio-buttons {
    display: flex;
    gap: 1rem; /* Space between buttons */
    align-content: center;
    justify-items: center;
    padding: 0 5%;
}

.resume-button, .contact-button {
    /* Add your individual button styling here */
    padding: 0.5rem 1rem;
    flex: 1;
}


.skill-carousel-wrapper{
    flex: 1;
    height: 75%;
    width: 100%;
    
}



.about-page-left-section h1{
    font-size: 350%;
}

.about-page-left-section p{
    font-size: 150%;
    padding: 0 5%;
}



.skills-wrapper {
    
    font-size: 20px;
    color: white;
    border: white solid 2px;
    
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.15fr;
    width: 100%;
    height:100%;
    align-self: center;
    overflow: hidden;
}


.skills-display-wrapper {
    display: flex;
    justify-content: space-between; /* This will push the children apart */
    align-items: center; /* This will vertically center the children */
    position: relative;
   
}



.prev-button, .next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    /* ... other styles ... */
}

.prev-button {
    left: 0;
}

.next-button {
    right: 0;
}

.skills-display{
 
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    position: relative;
    
    
   
}

.skills-progress{

    box-sizing: border-box;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    
}







  
  .skill {
    display: none; 

    transition: left 0.3s ease-in-out;
   
  }
  
  .skill.active {
    display: block; 
    width: 100%;
    height: 100%;
    
  }
  
  
  .oval {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: darkgrey;
    margin: 0 3vw;
    position: relative;


    transition: width 0.3s, border-radius 0.2s, background-color 0.31s ,margin 0.3s
  }


  .oval::before {
    content: '';
    
    position: absolute;
    top: -20px;
    right: -20px;
    bottom: -20px;
    left: -20px;
    z-index: 5;
    background-color: transparent;
}

  .oval:hover{
    background-color: white;
  }
  
  .oval.expanded {
    width: 4vw; 
    margin: 0 5vw;
    border-radius: 30%;
    background-color: white;
  }
  





  .displayed-skill {

   
    
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    
    
 
  
  }

  .displayed-skill-icons {
    

    flex: 8;
    width: 100%;
    height: 100%;
    
    display: flex;
  
  }

    .displayed-skill-icon {
        position: relative;
        flex: 1;
        margin: 5%;
    }

 .displayed-skill-icons img{

    
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
 
 }


  .displayed-skill-name {
    flex: 1;
    font-size: 50px;
    color: white;
  }






  .skill.target.left{

    position: absolute;
    display: block; 
    width: 100%;
    height: 100%;
    position: absolute;

  }


  .skill.target.right{

    position: absolute;
    display: block; 
    width: 100%;
    height: 100%;
    position: absolute;
   
  }


  .skills-line {
    position: absolute;
    display: flex;
  }