.about-page-wrapper-fullscreen {
    display: grid;
    width: 100%;
    height: 100%; /* Taking up the full viewport height */
    grid-template-columns: 1fr 1.618fr; /* This time the right column is wider */
    z-index: 1;

}

.about-page-wrapper-mobile{
    width: 100%;
    height: 100%;
    z-index: 1;
    

    display: flex;
    flex-direction: column;
}


.about-page-wrapper-mobile  p{
 
    color: white;
    font-size: 19px;
    flex: 1;
    padding: 0 5%;
}

.about-page-wrapper-mobile h1{
    flex: 0.5;
    color: white;
    flex-shrink: 0.2;
}

.about-page-wrapper-mobile .displayed-skill-name{
    
    font-size: 25px;
    

}

.about-page-wrapper-mobile .skill-carousel-wrapper{
    
    width: 100%;
    height: 100%;
    
    
    flex: 1.618;
}

.about-page-wrapper-mobile .displayed-skill-icons{

    margin: 0;
    padding: 0;
    gap: 0;
}
.about-page-wrapper-mobile .displayed-skill-icon {
    
    margin: 0;
    padding: 0;
}



.about-page-wrapper-mobile .bio-buttons{
    flex-direction: row;
    flex: 0.5;
    
    width: 100%;
   
    
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    

}

.about-page-wrapper-mobile .resume-button , .about-page-wrapper-mobile .contact-button{
    
    height: 68%;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    

    padding: 0;
    margin: 0;
}

.about-page-wrapper-mobile .prev-button{
   left: 2%;
}

.about-page-wrapper-mobile .next-button{
    right: 2%;
 }





.about-page-left-section {
    display: flex;
    flex-direction: column;
 
    
    
   width: 100%;
   height: 100%;
   color: white;
}

.spacer {
    flex-grow: 1;
    flex-shrink: 0;  /* This will take up 1 part of the available space */
}

.spacer.large {
    flex-grow: 1.618; 
    flex-shrink: 0; /* This will take up 1.618 parts of the available space */
}

.about-page-right-section {
    display: flex;
    align-items: center; /* Centers the skill carousel vertically */
    justify-content: center; /* And this centers it horizontally */
     /* Placeholder color */
     width: 100%;
     height: 100%;
}

.bio-buttons {
    display: flex;
    gap: 1rem; /* Space between buttons */
   
    padding: 0 5%;
    flex-direction: column;
    flex-shrink: 0.2;
    
}

.resume-button, .contact-button {
    /* Add your individual button styling here */
    padding: 1rem 0.5rem;
    flex: 1;
    
    font-family: 'Courier New', Courier, monospace;
    background-color: transparent;
    color: lightgreen;
    border: 2px solid lightgreen;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    font-size: 20px;
    
}

.resume-button:hover , .contact-button:hover{
    color: black;
    background-color: lightgreen;

}


.skill-carousel-wrapper{
    flex: 1;
    height: 75%;
    width: 100%;
  
    
}



.about-page-left-section h1{
    font-size: 300%;
}

.about-page-left-section p {
    font-size: 125%;
    padding: 0 5%;
    
    @media (max-width: 950px) {
        /* styles for screens less than or equal to 750px */
        font-size: 100%; /* example: reduce font size */
        padding: 0 3%;   /* example: reduce padding */
    }
}



.skills-wrapper {
    
    font-size: 20px;
    color: white;
   
    
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.15fr;
    width: 100%;
    height:100%;
    align-self: center;
    overflow: hidden;
}


.skills-display-wrapper {
    display: flex;
    justify-content: space-between; /* This will push the children apart */
    align-items: center; /* This will vertically center the children */
    position: relative;
   
}



.next-button, .prev-button {
    width: 5vw;  /* Percentage-based width */
    height: 5vh; /* Percentage-based height */
   
    position: absolute;  /* Set as a reference for absolute positioning */
    display: flex;      /* Flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    background-color: transparent;
    border: none;
    z-index: 2;
   
    padding: 0;
}

.next-button::before, .prev-button::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(max(5vw, 5vh));
    height: calc(max(5vw, 5vh));
    border-radius: 50%;  /* Makes it a circle */
    background-color: rgba(0,0,0,0.75);
    transform: translate(-50%, -50%);  /* Centers the pseudo-element */
    z-index: 1;  /* Puts the circle behind the content of the div */
}

.next-button img, .prev-button img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* This will make the image cover the entire parent, possibly cropping it */
    display: block; 
    z-index: 3;
    margin: 0;
    padding: 0;
}





.prev-button {
    left: 0;
}

.next-button {
    right: 0;
}

.skills-display{
 
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    position: relative;
    
    
    
    
   
}

.skills-progress{

    box-sizing: border-box;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    
}







  
  .skill {
    display: none; 

    transition: left 0.3s ease-in-out;
   
  }
  
  .skill.active {
    display: block; 
    width: 100%;
    height: 100%;
    
  }
  
  
  .oval {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: darkgrey;
    margin: 0 3vw;
    position: relative;


    transition: width 0.3s, border-radius 0.2s, background-color 0.31s ,margin 0.3s
  }


  .oval::before {
    content: '';
    
    position: absolute;
    top: -20px;
    right: -20px;
    bottom: -20px;
    left: -20px;
    z-index: 5;
    background-color: transparent;
}

  .oval:hover{
    background-color: white;
  }
  
  .oval.expanded {
    width: 4vw; 
    margin: 0 5vw;
    border-radius: 30%;
    background-color: white;
  }
  





  .displayed-skill {

   
    
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    
    
 
  
  }

  .displayed-skill-icons {
    

    flex: 8;
    width: 100%;
    height: 100%;
    
    display: flex;
  
  }

    .displayed-skill-icon {
        position: relative;
        flex: 1;
        margin: 5%;
    }

 .displayed-skill-icons img{

    
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
 
 }


  .displayed-skill-name {
    flex: 1;
    font-size: 50px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
  }






  .skill.target.left{

    position: absolute;
    display: block; 
    width: 100%;
    height: 100%;
    position: absolute;
    left: -100%;

  }


  .skill.target.right{

    position: absolute;
    display: block; 
    width: 100%;
    height: 100%;
    position: absolute;
    left: 100%;
   
  }


  .skills-line {
    position: absolute;
    display: flex;
  }